  .center.jumbotron {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRS0FAEqQZTwW6KECUFWHMzdt9yuZI3vpF7sg&usqp=CAU) center / cover;
    background-repeat: no-repeat;
}

